@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen font-nunito text-text-navy antialiased bg-gradient-to-b from-primary-blue to-secondary-blue overflow-x-hidden;
  }
}
